.accordion {
  border-radius: 3px;
  background: #f1f1f1;
}
.acccordion h2 {
  font-size: 14px;
  padding: 0 25px 0 50px;
}

.accordion-visible {
  width: 100%;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 14px 30px;
  border: none;
}
.accordion-visible h5 {
  padding: 8px;
}

.accordion-visible img {
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}
.accordion-visible img.active {
  transform: rotate(0deg);
}

.faqhead {
  padding: 35px 75px;
}
.faq-interior {
  display: flex;
  justify-content: space-between;
}
.faq-butn {
  color: #fff;
  font-size: 14px;
  padding: 16px 90px;
  background-color: #f12e36;
  border-radius: 23px;
  border: none;
  cursor: pointer;
}
.faq-butn:hover {
  background-color: #2e2e2e;
}
.faqrender {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 35px 75px 75px;
}
@media (max-width: 900px) {
  .faqrender {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
