* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .clubbg {
  color: #ffffff;
} */
.clubbg img {
  width: 100%;
}
.club-head {
  padding: 0 0 0 4rem;
  color: #fff;
}

.club-head h1 {
  font-size: 24px;

  padding: 0 0 1rem 0;
}
.club-sechead {
  padding: 0 0 0 4rem;
  color: #fff;
}

.club-sechead h3 {
  font-size: 20px;

  padding: 1rem 0 0 0;
}
.club-subhead {
  padding: 0 0 0 4rem;
  color: #fff;
}
.club-subhead h3 {
  font-size: 20px;
  padding: 1rem 0 0 0;
}
.club-butn {
  font-size: 14px;
  padding: 16px 60px;
  float: right;
  border-radius: 23px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0);
}
.club-butn:hover {
  background-color: #2e2e2e;
}
.club-cover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 4rem 4rem 2rem;
}
@media (max-width: 60rem) {
  .club-cover {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
