* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.partnership_complete {
  padding: 5rem;
}
.partnershipbbg {
  color: #ffffff;
}
.partnership-head {
  padding: 0 0 0 4rem;
}

.partnership-head h1 {
  font-size: 24px;
  font-weight: 700;
  padding: 0 0 1rem 0;
}
.partnership-head ul {
  padding: 1rem 0 0 1rem;
}
.partnership-head li {
  padding: 0 0 1rem 0;
}

.partnership-subhead {
  padding: 0 0 1.5rem 4rem;
}
.partnership-subhead h3 {
  font-size: 20px;
  padding: 0 0 1rem 0;
}
.partnership-subhead p {
  padding: 0 0 1rem 0;
}
.partnership-interrior h2 {
  font-size: 20px;
}
.partnership_butns {
  color: rgb(255, 255, 255);
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  font-size: 14px;
  padding: 16px 60px;
  border-radius: 23px;
  cursor: pointer;
  float: left;
  gap: 24px;
}
.partnership_butns:hover {
  background-color: #2e2e2e;
}
.partnership_cover {
  padding: 4rem 4rem 4rem 0;
  gap: 32px;
}
