* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.benefit_card {
  /* width: 345px;
  height: 244px; */
  color: white;
  object-fit: cover;
  justify-items: center;
}

.appp h2 {
  font-size: 18px;
  margin-top: 9.5rem;
  padding: 0 0 0 1.5rem;
  cursor: pointer;
}
.appp h2:hover {
  color: #f12e36;
}
.appp p {
  font-size: 12px;
  padding: 0.3rem 0 0 1.5rem;
}
.appp a {
  text-decoration: none;
  color: #fff;
}
.formationapp p {
  font-size: 12px;
  padding: 0.3rem 0 2rem 1.5rem;
}
.benefit_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 0 7rem 0 7rem;
  gap: 2rem;
}
.benefit_section img {
  width: 100%;
  height: 100vh;
}

.butn {
  color: #fff;
  font-size: 14px;
  padding: 16px 26px;
  background-color: #f12e36;
  border-radius: 23px;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
}
.butn:hover {
  background-color: #2e2e2e;
}
.companyformation {
  text-align: center;
  justify-content: center;
  padding: 2rem 0 0 0;
}
.formation-head h1 {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  padding: 2rem 0 2rem 7rem;
}
@media (max-width: 90rem) {
  .benefit_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
  }
}
@media (max-width: 48rem) {
  .benefit_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0 0 2rem;
    gap: 2rem;
    justify-content: center;
  }
}
@media (max-width: 30rem) {
  .benefit_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem 0 0 2rem;
    gap: 2rem;
  }
}
