* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular.ttf";
}
@font-face {
  font-family: "Montserrat-Regular.ttf";
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  /* position: absolute;
  z-index: 0; */
}

.contacts p {
  font-size: 18px;
}
.contacts {
  display: flex;
  gap: 10px;
  align-items: center;
}
span {
  color: red;
}
.links button {
  border: none;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
}
.links {
  display: flex;
  gap: 20px;
}
.border {
  border: 0.5px solid rgb(184, 183, 183);
  width: 100%;
}
.navlink button {
  border: none;
  color: black;

  background-color: white;
  font-size: 18px;
}
.navlink button:hover {
  background-color: lightgray;
}
.navbar button:hover {
  background-color: #cc1f26;
  color: white;
}
.navlink {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 125px;
  /* padding: 0 10px; */
  top: 0;
  position: sticky;

  /* z-index: 1; */
}
.search {
  display: flex;
  gap: 20px;
  align-items: center;
}
.search a {
  text-decoration: none;
  font-size: 22px;
}
.search #btn {
  border: none;
  width: 100%;
  height: auto;
  background-color: #cc1f26;
  color: white;
  padding: 20px;
}

.headdropdown .headdropbtn {
  /* font-size: 16px; */
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* margin: 0; */
}

.headdropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.headdropdown-content a:hover {
  background-color: #ddd;
}

.headdropdown:hover .headdropdown-content {
  display: grid;
  grid-template-columns: auto;
}

.headdropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.linkdropdown .linkdropbtn {
  /* font-size: 16px; */
  border: none;
  outline: none;
  /* color: white; */
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* margin: 0; */
}

.linkdropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.linkdropdown-content a:hover {
  background-color: #ddd;
}

.linkdropdown:hover .linkdropdown-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
  width: 50%;
}

.linkdropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 1;
  background-color: white;
  padding: 16px;
  display: none;
}

/* .sidebar_menu {
  display: flex;
  justify-content: space-around;
}
.sidebar_menu img {
  cursor: pointer;
} */
.sidebar_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar_content button {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  text-align: left;
  padding: 20px;
}
.btn_visible {
  width: 100%;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 14px 30px;
  border: none;
}

.btn_visible img {
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}
.btn_visible img.active {
  transform: rotate(0deg);
}

.accordion-toggle {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
  color: #333;
}

.animated {
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
}

.drop_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.drop_links a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
}
@media (max-width: 990px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .navlink > .linkdropdown,
  #ibcclub {
    display: none;
  }
  .sidebar {
    display: block;
  }
}
