.footer_drop {
  display: flex;
  flex-direction: row;
  gap: 180px;
}
.footer_pagelinks {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.footer_section {
  background-color: #454545;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pagelinksone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.pagelinksone a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.pagelinkstwo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.pagelinkstwo a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.countrylinks a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.lang_select select {
  background: none;
  border: none;
  color: white;
  outline: none;
  font-size: 14px;
}
option {
  color: black;
  outline: none;
  font-size: 14px;
}
.social_media h3 {
  color: white;
  font-size: 16px;
}
.social_media {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.media_icons {
  display: flex;
  gap: 20px;
}
@media (max-width: 960px) {
  .pagelinksone {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .pagelinkstwo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .footer_pagelinks {
    display: grid;
    grid-template-columns: auto auto;
  }
  .pagelinksone a {
    font-size: 15px;
  }
  .pagelinkstwo a {
    font-size: 15px;
  }
}
