* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accounting {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.account_topimages img {
  width: 100%;
  height: auto;
}
.taxes {
  background: #e6e6e6;
  height: 30vh;
}
.taxes p {
  font-size: 14px;
  padding: 1.5rem 0 0 0;
  color: #4d4d4db3;
  /* text-align: center; */
}
.taxes a {
  float: right;
  padding: 1rem 2rem 0 0;
}
.country {
  position: relative;
  background: #e6e6e6b3;
  padding: 20px 20px 20px;
  margin-top: -60px;
}

.taxes a {
  color: red;
}
.taxing {
  text-align: center;
}

.note p {
  padding: 10px;
  width: 100%;
  padding: 1rem 0 0 0;
  color: #8d8d8d;
}
.account_card {
  align-content: center;
  justify-content: center;
}
.account_butn {
  color: #fff;
  font-size: 14px;
  padding: 16px 60px;
  background-color: #f12e36;
  border-radius: 23px;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.account_butn:hover {
  background-color: #2e2e2e;
}
.country a {
  text-decoration: none;
  color: #2e2e2e;
}
#head h1 {
  font-size: 24px;
  font-weight: 700;
  padding: 0 0 1.5rem 0;
}
.taxaudicting {
  padding: 25px 100px 0 100px;
}

@media (max-width: 90rem) {
  .accounting {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 48rem) {
  .accounting {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem;
    gap: 1rem;
  }
  .taxes {
    height: 50vh;
  }
}
@media (max-width: 30rem) {
  .accounting {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0.75rem;
    gap: 0.5rem;
  }
  .taxes {
    height: 20vh;
  }
} ;
