* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accounting {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem;
}
.account_topimages img {
  width: 100%;
}
.taxes {
  background: #e6e6e6;
  height: 30vh;
}
.taxes p {
  font-size: 14px;
  padding: 1.5rem 0 0 1rem;
  color: #4d4d4db3;
  /* text-align: center; */
}
.taxes a {
  float: right;
  padding: 1rem 2rem 0 0;
}
.country {
  background: #e6e6e6b3;
  padding: 20px 20px 20px;
}
.taxes a {
  color: red;
}
.taxing {
  text-align: center;
  padding: 2rem 02rem 0;
}
.note {
  width: 100%;
}
.note p {
  padding: 10px;
  color: #8d8d8d;
}
.account_card {
  align-content: center;
  justify-content: center;
  padding: 3rem 0 0 0;
}
.account_butn {
  color: #fff;
  font-size: 14px;
  padding: 16px 60px;
  background-color: #f12e36;
  border-radius: 23px;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
}
.country a {
  text-decoration: none;
  color: #2e2e2e;
}

@media (max-width: 90rem) {
  .accounting {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    gap: 2rem;
  }
}
@media (max-width: 48rem) {
  .accounting {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    gap: 1rem;
  }
  .taxes {
    height: 40vh;
  }
}
@media (max-width: 30rem) {
  .accounting {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem;
    gap: 0.5rem;
  }
  .taxes {
    height: 20vh;
  }
  .note {
    width: 100%;
  }
} ;
