.loadapp {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  height: 250px;
  padding: 20px 20px;
}
.apps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.playbtn {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.appbtn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

#whitecard {
  border: none;
  border-radius: 10px;
  padding: 15px 100px;
  background-color: white;
}
#whitecard:hover {
  box-shadow: 5px 5px 5px 5px lightgray;
}
#whitecard img {
  height: 120px;
  width: 250px;
}
.mediacards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
#views {
  color: #fff;
  font-size: 14px;
  padding: 16px 90px;
  background-color: #f12e36;
  border-radius: 23px;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
}
#views:hover {
  background-color: white;
  color: #f12e36;
}
.mediaabout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 80px;
  background-color: white;
}
.mediaabout .viewbtn {
  text-align: center;
}
.mediaabout h2 {
  font-size: 30px;
}
/* .mobiles img {
  position: absolute;
  right: 0;
  left: 1000px;
  z-index: -1;
} */
.learn button {
  border: 1px solid #ffffff;
  width: 100%;
  border-radius: 20px;
  background-color: #807c7c00;
  padding: 16px 90px;
  color: white;
}
.learn button:hover {
  background-color: #3f3e3e;

  color: white;
}
.aboutus {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 24px;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #ffffff;
  width: 500px;
}
.contents h1 {
  font-size: 32px;
}
.contents p {
  font-size: 20px;
}
@media (max-width: 1068px) {
  .aboutus {
    display: flex;
    flex-wrap: wrap;
  }
}
