.arrange {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  gap: 10px;
}
.services {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
  padding: 30px;
}
.arrange img {
  width: 160px;
  height: 120px;
}
.service_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px; */
}
.compservices {
  padding: 70px;
  background-color: white;
}
.juriskey_features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  gap: 20px;
  background: #f3f3f3;
  /* gap: 100px; */
}
.check select {
  width: 100%;
  height: 70px;
  padding: 6px 16px;
  border-radius: 5px;
  border: 1px solid rgb(218, 216, 216);
  outline: 0;
  background-color: white;
  color: rgb(44, 43, 43);
}
.checkbtn button {
  font-size: 18px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background: #cc1f26;
  height: 60px;
  line-height: 36px;
  width: 180px;
  border: none;
  text-align: center;
}
@media (max-width: 1078px) {
  .service_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (max-width: 680px) {
  .services {
    display: grid;
    grid-template-columns: auto;
    gap: 100px;
    padding: 30px;
  }
}
