* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.herobg img {
  width: 100%;
}
.herobg {
  padding-top: 250px;
  padding-left: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.herobg h2 {
  color: #ffffff;
  font-size: 28px;
  text-shadow: 2px 2px 5px rgb(97, 95, 95);
}
.herobg p {
  color: #ffffff;
  font-size: 26px;
  text-shadow: 2px 2px 5px rgb(97, 95, 95);
}
/* .slider #opt {
    color: white;
    font-size: 26px;
  } */
.herobg button {
  background-color: #f12e36;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  padding: 10px 30px;
  width: 20%;
}
.herobg button:hover {
  background-color: rgb(48, 47, 47);
}
