.seychelles img,
.invest_belize img,
.business_belize img,
.establish_switz img,
.protect_assets img {
  width: 100%;
  height: auto;
}
.seychelles {
  display: flex;
  flex-direction: row;
  gap: 30px;
  grid-area: seycard;
}
.invest_belize {
  grid-area: investcard;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.business_belize {
  grid-area: busbelize;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.establish_switz {
  grid-area: estswitz;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.protect_assets {
  grid-area: proassets;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.export_text h2 a {
  color: #333333;
  text-decoration: none;
  font-size: 20px;
}
.export_text h2 a:hover {
  color: #f12e36;
}
.export_text p {
  color: #2e2e2e;
  font-size: 14px;
}
.export_text button {
  background: none;
  padding: 2px 10px;
  width: 170px;
}
.export_text button:hover {
  border: 1px solid #f12e36;
  color: #f12e36;
}
.export_text #reads {
  color: #f12e36;
  text-align: right;
}
.export_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.juris_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.juris_text button {
  background: none;
  padding: 2px 10px;
  width: 170px;
}
.juris_text #read {
  color: #f12e36;
  text-align: right;
}
.juris_text button:hover {
  border: 1px solid #f12e36;
  color: #f12e36;
}
.juris_text h2 a {
  color: #333333;
  text-decoration: none;
  font-size: 20px;
}
.juris_text h2 a:hover {
  color: #f12e36;
}
.juris_text p {
  color: #2e2e2e;
  font-size: 14px;
}
.juris_cards {
  display: grid;
  grid-template-areas:
    "seycard seycard investcard"
    "busbelize estswitz proassets";
  gap: 30px;
}
.juris_view {
  text-align: center;
}
.juris_view button {
  color: white;
  font-size: 16px;
  background-color: #f12e36;
  padding: 12px 20px;
  border: none;
  border-radius: 23px;
  width: 260px;
}
.juris_view button:hover {
  background-color: #2e2e2e;
}
.juris_main h1 {
  color: #2e2e2e;
  font-size: 24px;
}
.juris_main {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1216px) {
  .juris_cards {
    display: grid;
    grid-template-areas:
      "seycard "
      "investcard"
      "busbelize"
      "estswitz"
      "proassets";
    gap: 30px;
  }
  .seychelles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: seycard;
  }
  .invest_belize {
    grid-area: investcard;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .business_belize {
    grid-area: busbelize;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .establish_switz {
    grid-area: estswitz;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .protect_assets {
    grid-area: proassets;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .juris_text p {
    display: none;
  }
  .export_text p {
    display: none;
  }
  .invest_belize img,
  .business_belize img,
  .establish_switz img,
  .protect_assets img {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .juris_text button {
    background: none;
    padding: 2px 10px;
    width: 100px;
  }
  .juris_text h2 a {
    font-size: 16px;
  }
  .juris_main {
    padding: 32px;
  }
}
